body {
	margin: 0px;
}

.them {
	/*width: 100%;
	max-width: 100%;
	max-height: 100%;*/
	height: 100%;
	position: fixed;
	display: none;
	margin-left: -165px;
}

.me {
	position: fixed;
	height: 30%;
	bottom: 0px;
	right: 0px;
	display: none;
}

.video-container {
	height: 100%;
	width: 100%;
}

#controls {
	position: fixed;
	bottom: 0;
	z-index: 2;
}

.high_res {
	max-width: 100%;
	max-height: 70%;
	display: block;
}
